* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  padding: 20px;
}

form {
  width: 600px;
  padding: 25px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #00000070;
}

form fieldset {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 10px;
}

form input {
  padding: 10px;
  display: inline-block;
  background-color: #00000020;
  border-radius: 5px;
}

form input[type='select'] {
  padding: 20px;
}

form fieldset textarea {
  border: 1px solid #00000070;
  width: 100%;
}

form button {
  width: 100%;
  padding: 15px;
  background-color: #82f582;
  font-size: 18px;
  font-weight: 900;
  color: whitesmoke;
  text-shadow: 2px 2px #00000070;
  cursor: pointer;
  transition: all 0.3s;
}

form button:hover {
  filter: brightness(80%);
}

/* Curriculo */
.curriculum-vitae {
  width: 600px;
  padding: 25px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #00000070;
}
