.super-mario {
    width: 200px;
}

.goomba {
    width: 100px;
    position: relative;
    bottom: -100px;
    left: -50px;
}

.baloon {
    position: absolute;
    right: 200px;
    top: 10px;
}

.speach {
    font-size: 25px;
    position: absolute;
    right: 240px;
    top: 50px;
    z-index: 10;
}

.bowser {
    width: 200px;
    position: absolute;
    right: 0;
    top: 150px;
}
