* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Header */

header {
    width: 100%;
    height: 100px;
    background-color: #f5f5f5;
    display: flex;
    padding: 15px 80px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    box-shadow: 0 2px 3px #11111120;
}

header img {
    height: 40px;
    cursor: pointer;
}

header img:hover {
    filter: brightness(120%);
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
}

header nav ul li a {
    display: inline-block;
    padding: 20px 0;
    font-size: 20px;
    text-decoration: none;
    color: #000;
    position: relative;
}

header nav ul li a::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #111;
    position: absolute;
    bottom: -3px;
    left: 0;
    transform: rotateY(90deg);
    transition: transform 0.3s ease;
}

header nav ul li a:hover::after {
    transform: rotateY(0deg);
}

header nav ul li button {
    padding: 15px 20px;
    font-size: 20px;
    border: 3px solid #11a36a;
    border-radius: 5px;
    color: #11a36a;
    font-size: 16px;
    font-weight: 600;
    margin-left: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

header nav ul li button:hover {
    border-color: #26c789;
    color: #26c789;
}

/* Main banner */

#main-banner {
    height: 110vh;
    padding: 100px;
    background: url(./assets/main-banner-bg.jpg);
    background-size: cover;
}

#main-banner .content {
    width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    transform: translateY(50px);
}

#main-banner h1 {
    font-size: 45px;
    color: #11a36a;
    font-weight: bold;
    margin-bottom: 10px;
}

#main-banner p {
    width: 91%;
    font-size: 18px;
    color: #3b4843;
    font-weight: 400;
}

#main-banner p span {
    color: #161616;
    font-weight: 600;
}

#main-banner a {
    display: inline-block;
    height: 50px;
    width: 340px;
    padding: 10px 20px;
    background-color: #11a36a;
    margin-top: 10px;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 700;
    color: #f5f5f5;
}
